<template>
	${column.heading}

	<div if.bind="column.filterable === ''">
		<div class="ui basic icon buttons">
			<button type="button" class="ui active button" click.delegate="column.filterValue = null">
				<i class="ui delete icon"></i>
			</button>
			<button type="button" class="ui button" click.delegate="column.filterValue = true">
				<i class="ui circle icon"></i>
			</button>
			<button type="button" class="ui button" click.delegate="column.filterValue = false">
				<i class="ui circle thin  icon"></i>
			</button>
		</div>
	</div>
</template>