<template>
	<table class="ui celled striped table">
		<thead>
			<tr>
				<th class.bind="column.alignment + ' aligned'" repeat.for="column of columns">
					<compose view="./columns/column-heading-template.html" containerless></compose>
				</th>
			</tr>			
		</thead>

		<tbody>
			<tr repeat.for="row of datasource">
				<td class.bind="column.alignment + ' aligned'" repeat.for="column of columns">
					<compose view="./columns/${columnRowTemplateFilename(column)}" containerless></compose>
				</td>
			</tr>
		</tbody>

		<tfoot>
			<tr>
				<td>
					<compose view="./footer.html" containerless></compose>
				</td>
			</tr>
		</tfoot>
	</table>
</template>